{% set id = 'expensiveTable' %}

{% set content %}
    {{ form(columnSelector) }}

    <table class="table">
        {% for row in tableData %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item{% if page <= 0 %} disabled{% endif %}">
                <a class="page-link" href="{{ path('table.index',{"page": page - 1, "column_selector": app.request.get("column_selector")}) }}">Previous</a>
            </li>
            <li class="page-item {% if page == 0 %}active{% endif %}">
                <a class="page-link" href="{{ path('table.index',{"page": 0, "column_selector": app.request.get("column_selector")}) }}">1</a>
            </li>
            <li class="page-item {% if page == 1 %}active{% endif %}">
                <a class="page-link" href="{{ path('table.index',{"page": 1, "column_selector": app.request.get("column_selector")}) }}">2</a>
            </li>
            <li class="page-item {% if page == 2 %}active{% endif %}">
                <a class="page-link" href="{{ path('table.index',{"page": 2, "column_selector": app.request.get("column_selector")}) }}">3</a>
            </li>
            <li class="page-item{% if page >= 2 %} disabled{% endif %}">
                <a class="page-link" href="{{ path('table.index',{"page": page + 1, "column_selector": app.request.get("column_selector")}) }}">Next</a>
            </li>
        </ul>
    </nav>
{% endset %}
{% extends 'turbo/frame_wrapper.html.twig' %}
